:root {
  --bodybg: white;
  --formbg: white;
  --textColor:rgb(82, 82, 82);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--textColor);
  background-color: var(--bodybg);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin: 15px;
  
}

form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  background-color: var(--formbg);
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

label {
  display: block;
  margin: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  color: var(--textColor);
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 0 0 5px #ccc;
}

select{
  width: 100%;
  border:1px solid gray;
  outline: none;
  padding: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}